@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";
div {
  display: block;
}
/*HEADER*/
#david {
  max-width: 400px;
  max-height: 200px;
  justify-content: flex-start;
  margin-left: 75px;
  border-radius: 40px;
}

.title {
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P';
  color: #fff090;
  grid-area: 1/2/2/5;
  white-space: nowrap;
  max-height: 100px;
  margin-bottom: 40px;
  justify-content: flex-start;
}

.start-btn:hover { 
  box-shadow:
  7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  transform: translateY(4px); 
}

.start-btn {
  
  font-family: 'Press Start 2P';
  background-color: #4FAF44;
  border-color: grey;
  border-style: solid;
    border-width: .125em 0;
    box-shadow: -.375em 0 0 -.125em,
        .375em 0 0 -.125em;
    margin-left: 60px;
    margin-bottom: 10px;
    padding: .5em .125em;
    position: relative;
    z-index: 1;

    &:before {
        background-color: inherit;
        border: inherit;
        border-width: 0 .125em;
        bottom: .375em;
        content: '';
        left: -.5em;
        pointer-events: none;
        position: absolute;
        top: .375em;
        right: -.5em;
        z-index: -1;
    }

    &:after {
        background-color: inherit;
        border: inherit;
        border-width: 0 .125em;
        bottom: .125em;
        content: '';
        left: -.375em;
        position: absolute;
        top: .125em;
        right: -.375em;
        z-index: -2;
    }
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 10px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  line-height: 2;
  background-color: rgb(95, 95, 38);
  text-transform: uppercase;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: #fff090;
}

li {
  color: #4FAF44;
}

.arrow i {
  display: none;
}

.arrow {
  position:relative;
	display: block;
  color: #F6EB14;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

.arrow:hover i { 
  display: block;
  position: absolute;
  top: 0.50em; 
  left: -6em;
}

#arcade {
  margin-left: 40px;
  margin-top: 10px;
}

/*Static Screen*/

.screen-container {
  width: 500px;
  height: 525px;
  background-color: darkgrey;
  padding: 20px;
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #221 solid 5px;
  position: relative;
  border-radius: 20px;
}

#front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start; 
  justify-content: flex-start; 
  height: 100vh; 
  padding-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/*Top piece*/
.top-bar {
  width: 575px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 120px;
  box-sizing: border-box;
  text-align: center;
  border: 5px solid black;
}

.right-bar::before {
  content: '';
  margin-right: 20px;
  display: block;
  border-left: 5px solid black; 
  height: 100%; 
}

.left-bar::before {
  content: '';
  margin-left: 20px;
  display: block;
  border-left: 5px solid black; 
  height: 100%; 
}

.screen-container:before {
  height: 520px;
  width: 4%;
  position: absolute;
  display: block;
  background: white;
  content: " ";
  border: 5px solid black;
  z-index: 2;
  left: -4%;
}

.screen-container:after {
  height: 520px;
  width: 4%;
  position: absolute;
  display: block;
  background: white;
  content: " ";
  border: 5px solid black;
  z-index: 2;
  right: -4%;
}

/*bottom board*/
.board {
  position: absolute;
  top: 87.5%;
  height: 0;
  width: 500px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 250px solid darkgrey;
  transform: rotateX(70deg);
}

.board::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 100%;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 250px solid white;
  transform: rotateX(70deg);
}
