@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";
div {
  display: block;
}

/*Screen filter*/
.screen-container {
background: linear-gradient(rgba(18, 16, 16, 0) 70%, rgba(0, 0, 0, 0.25) 70%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 4px, 30px 100%;
  animation: flicker 10ms infinite;
  box-shadow:
  rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

/*HEADER*/

.title {
  max-width: 100%;
  height: 60vh;
  font-family: 'Press Start 2P';
  color: #fff090;
  grid-area: 1/2/2/5;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1200px) {
  .label {
    white-space: normal; 
    text-overflow: clip; 
  }
}

#david {
  max-width: 30%; 
  border-radius: 40px;
  margin-bottom: 10%;
  margin-top: 10%;
}



.start-btn:hover { 
  box-shadow:
  7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  transform: translateY(4px); 
}

.start-btn {
  
  font-family: 'Press Start 2P';
  background-color: #4FAF44;
  border-color: grey;
  border-style: solid;
    border-width: .125em 0;
    box-shadow: -.375em 0 0 -.125em,
        .375em 0 0 -.125em;
        margin-top: 10px;
        margin-bottom: 10px;
    padding: .5em .125em;
    position: relative;
    z-index: 1;
    width: 15vw;


    &:before {
        background-color: inherit;
        border: inherit;
        border-width: 0 .125em;
        bottom: .375em;
        content: '';
        left: -.5em;
        pointer-events: none;
        position: absolute;
        top: .375em;
        right: -.5em;
        z-index: -1;
    }

    &:after {
        background-color: inherit;
        border: inherit;
        border-width: 0 .125em;
        bottom: .125em;
        content: '';
        left: -.375em;
        position: absolute;
        top: .125em;
        right: -.375em;
        z-index: -2;
    }
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 10px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  align-items: flex-start; 
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  line-height: 2;
  background-image: url(assets/retro.jpg);
  background-size: contain;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  
}

a {
  text-decoration: none;
  color: #fff090;
}

li {
  color: #4FAF44;
}

.arrow i {
  display: none;
}

.arrow {
  position:relative;
	display: block;
  color: #F6EB14;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

.arrow:hover i { 
  display: block;
  position: absolute;
  top: 0.50em; 
  left: -6em;
}

#arcade {
  width: 30vw;
  top: 0%;
}

/*Static Screen*/

.screen-container {
  transition: transform 1s ease;
  width: 35vw;
  height: 52vh;
  background-color: #8C898F;
  padding: 20px;
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #221 solid 5px;
  position: relative;
  border-radius: 20px;
  z-index: 1000;
}

#front-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start; 
  justify-content: flex-start; 
  height: 90vh; 
  max-width: 60vh;
  margin-bottom: 15vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 50px;
}

/*Top piece*/

.top-bar {
  width: 42vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: #246484;
  height: 17vh;
  text-align: center;
  border: 5px solid black;
  box-shadow:
  rgba(0, 0, 0, 0.17) 0px -23px 15px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 10px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 30px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;
 
}

.right-bar::before {
  content: '';
  margin-right: 20px;
  display: block;
  border-left: 5px solid black; 
  height: 100%;
  box-shadow: 
   rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
   rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.left-bar::before {
  content: '';
  margin-left: 20px;
  display: block;
  border-left: 5px solid black; 
  height: 100%; 
}

.screen-container:before {
  width: 4%;
  height: 52vh;
  position: absolute;
  display: block;
  background: #246484;
  content: " ";
  border: 5px solid black;
  z-index: 2;
  left: -4%;
  top: -2%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  
}

.screen-container:after {
  height: 52vh;
  width: 4%;
  position: absolute;
  display: block;
  background: #246484;
  content: " ";
  border: 5px solid black;
  z-index: 2;
  right: -4%;
  top: -2%;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

/*Stripes for top*/
.stripes {
  height: 15.75vh;
  width: 4%;
  position: absolute;
  left: 50%;
  background: #d93caf;
  transform: skew(10deg);
  box-shadow: 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -40px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 5px inset;
}

.stripes:before, .stripes:after {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 80%;
  content: " ";
  background: #fc7cd3;
  box-shadow: 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -40px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 3px inset;
}

.stripes:after {
  height: 100%;
  width: 33%;
  position: absolute;
  top: 0%;
  left: -20%;
  content: " ";
  background: #c9dee7;
  box-shadow: 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -40px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*stripes for bottom*/

.stripes2 {
  height: 12vh;
  width: 7%;
  position: absolute;
  left: 28%;
  background: #d93caf;
  box-shadow: 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -40px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.stripes2:before, .stripes2:after {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 80%;
  content: " ";
  background: #fc7cd3;
  box-shadow: 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -40px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.stripes2:after {
  height: 100%;
  width: 33%;
  position: absolute;
  top: 0%;
  left: -20%;
  content: " ";
  background: #c9dee7;
  box-shadow: 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -40px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*bottom board*/

.board {
  position: absolute;
  top: 65.5%;
  height: 0;
  width: 35vw;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 250px solid #424043;
  transform: rotateX(70deg);
}



.board:before {
  height: 32vh;
  width: 4%;
  position: absolute;
  top: -2%;
  left: -5.5%;
  background: #246484;
  content: "";
  border: 5px solid black;
  z-index: 2;
  transform: skew(-5deg);
}

.board:after {
  height: 32vh;
  width: 4%;
  position: absolute;
  top: -2%;
  right: -5.5%;
  background: #246484;
  content: "";
  border: 5px solid black;
  z-index: 2;
  transform: skew(5deg);
}

.bottom {
  position: absolute;
  top: 75%;
  height: 100px;
  max-height: 100px;
  width: 36vw;
  border-bottom: 100px solid #246484;
  
}

.bottom:after {
  height: 100px;
  width: 4%;
  position: absolute;
  top: 100%;
  left: -5.5%;
  background: #246484;
  content: "";
  border: 5px solid black;
  box-shadow:
  rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.bottom:before {
  height: 100px;
  width: 4%;
  position: absolute;
  top: 100%;
  left: 99.75%;
  background: #246484;
  content: "";
  border: 5px solid black;
  box-shadow:
  rgba(0, 0, 0, 0.17) 0px -23px 30px 5px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 40px 5px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 45px 5px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.bottom2 {
  position: absolute;
  justify-content: center;
  flex-direction: column;
  top: 100%;
  height: 100px;
  max-height: 100px;
  width: 60vw;
  border: 5px solid black;  
  box-shadow:
  rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
  rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px,
  rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px,
  rgba(0, 0, 0, 0.09) 0px 32px 16px;

}



/*Bouncing text animation*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.start-btn {
  animation: bounce 2.5s infinite;
  box-shadow: 
  rgba(50, 50, 93, 0.25) 0px 50px 100px -40px, 
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
  rgba(10, 37, 64, 0.35) 0px -2px 6px 10px inset;
} 

#arcade,
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60vw;
  margin-top: -20vh;
}

#menu {
  display: none;
  position: absolute;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #menu {
    max-width: 80vw;
  }
}


.hide {
  display: none;
}

.expanded {
  width: 60vw;
  transform: scale(1.5);
}

.webpage {
  width: 100vw;
}


/* About Page */

.about-page {
 /* display: none;*/
  grid-template: 1fr 1fr/1fr 1.5fr 1fr;
  color: #246484;
  font-family: "Press Start 2P";
  max-width: 55vw;
  max-height: 60vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

.about-p {
  max-width: 45vw;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  font-size: 10px;
  color: white;
  padding: 0;
}

.title2 {
  font-family: 'Press Start 2P';
  color: #fff090;
  margin-top: -5%; 
  margin-bottom: 2%;
  vertical-align: top;
}
@media (max-width: 768px) {
  .title2 {
    margin-top: -2%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title2 {
    margin-top: -75px; 
  }
}

/*BUTTONS*/ 

#backButton {
  display: block;
  position: absolute;
  top: 5%; 
  right: 10%; 
  background-color: #8C898F;
  border: none;
  animation: 3.5s bounce infinite;
}

#backButtonRed {
  max-width: 50px;
}


/*Skills page*/

.skills-page {
max-width: 55vw;
max-height: 60vh;
align-items: center;
text-align: center;
justify-content: center;


}

#logo1, #logo2 {
  max-width: 10vh;
}

.skills-page p {
  max-height: 20vh;
  margin-top: 0%;
  font-size: .5rem;
  color: white;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .skills-page p {
    font-size: 0.25rem; 
  }
}

.bit1, .bit2 {
  max-width: 30%; 
  margin-left: 10px; 
  
}

.images {
  display: flex;
  align-items: center;
  margin-left: 20%;
  max-height: 20vh;
}

<<<<<<< Updated upstream

/*Contact Page*/

.title3 {
  max-width: 100%;
  font-family: 'Press Start 2P';
  color: #fff090;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.contact-page {
  max-width: 55vw;
  max-height: 60vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.contact-page p {
  max-height: 20vh;
  margin-top: 0%;
  font-size: .5rem;
  color: white;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.logo-container img {
  margin-right: 10px;
  height: 10vh;
=======
@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";
body, html {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#run1, #run2, #run3, #run4 {
    position: absolute;
    bottom: 0;
    left: 100%; 
    transform: translateX(-50%); 
}

#screen-container {
    width: 100vw;
    height: 65vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(assets/background.jpg);
}

#background1 {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto; 
    object-fit: cover;
}

#character {
    position: absolute;
    bottom: 15%;
    left: 10%;
    display: flex;
}

.jump {
    transition: transform 0.5s ease-in-out;
}

.jump-animation {
    transform: translateY(-120px);
}

.paused {
    animation-play-state: paused;
}
#character.jump.paused {
    animation-play-state: paused;
}

#character img.paused {
    animation-play-state: paused;
}

.rock {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 64%;
    left: 100vw;   
    animation: rock 3s infinite linear;
}

@keyframes rock {
    0% { left: 100vw; } 
    100% { left: -1500px; } 
}

#gameEnd {
    text-align: center;
}

.image-text-container {
    position: relative;
}

#Alert {
    width: 100%; 
    height: auto;
}

.alertText {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 80%;
    font-family: 'Press Start 2P';
}


#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white; 
    font-size: 16px; 
    font-family: 'Press Start 2P'; 
>>>>>>> Stashed changes
}